@{
    ViewData["Title"] = "Home Page";
}

<h1>Benvenuto nella sezione Account</h1>

<div>
    <p>Seleziona un'opzione:</p>
    <ul>
        <li><a asp-controller="Account" asp-action="Login">Login</a></li>
        <li><a asp-controller="Account" asp-action="Register">Registrati</a></li>
    </ul>
</div>